.row {
    display: flex;
    place-content: center;
    place-items: center;
    justify-content: space-evenly;
    gap: 10vw;

    @media (max-aspect-ratio: 3/2.7) {
        flex-direction: column;
    }
}